.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
.back-to-top-button.visible {
    opacity: 1;
}
  