.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0 40px;
}

.header-text h5 {
    font-weight: bold;
    font-size: large;
}

.header-text p {
    font-size: small;
}

.header-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}