.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0 40px;
}

.header-text h5 {
    font-weight: bold;
    font-size: large;
}

.header-text p {
    font-size: small;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile {
    display: flex;
    align-self: center;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-icon-container {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px; 
}

.chevron-icon {
    font-size: 16px; 
}
  
  