.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0 40px;
}

.header-text h5 {
    font-weight: bold;
    font-size: large;
}

.header-text p {
    font-size: small;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile {
    display: flex;
    align-self: center;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px; 
}

.profile-icon-container {
    display: flex;
    align-items: center;
}

.chevron-icon {
    font-size: 16px; 
}
  
@media (max-width: 768px) {
    .header {
        margin: 10px 20px 0 20px;
    }
    .header-text h5 {
        font-weight: bold;
        font-size: medium;
    }
    
    .header-text p {
        font-size: x-small;
    }
    
    .header-controls {
        gap: 0px;
    }

    .user-profile {
        width: 30px;
    }

    .profile-picture {
        width: 25px;
        height: 25px;
    }

    .chevron-icon {
        font-size: 10px; 
    }
    
}
  